@charset "UTF-8";
body, nav, ul, p, h2, h3, h1, figure {
  margin: 0;
  padding: 0;
  font-family: 'Song Myung', serif;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}

.bloc-page {
  width: 100%;
  margin: auto;
}

main {
  background-color: #fcfafc;
}

.plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 7px;
  height: 20px;
}

.moins {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25px;
  height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  background-color: #F3E9F1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logotitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logotitle img {
  width: 150px;
  margin-right: 20px;
  height: 70px;
}

@media (min-width: 320px) and (max-width: 600px) {
  .header__logotitle img {
    width: 100px;
    height: 50px;
  }
}

.header__logotitle h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 320px) and (max-width: 600px) {
  .header__logotitle h1 {
    font-size: 20px;
  }
}

@media (min-width: 320px) and (max-width: 1000px) {
  .header__nav {
    width: 100%;
  }
}

.header__list {
  text-decoration: none;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

@media (min-width: 320px) and (max-width: 1000px) {
  .header__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 320px) and (max-width: 600px) {
  .header__list a {
    font-size: 16px;
  }
}

.header__link {
  padding-left: 20px;
}

.header__link i {
  margin-right: 5px;
}

.conteneur {
  padding-top: 50px;
}

@media (min-width: 320px) and (max-width: 600px) {
  .conteneur {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.conteneur__div {
  margin-bottom: 20px;
  padding-left: 20px;
}

.conteneur img {
  width: 500px;
}

.selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.selection__pic {
  margin: 20px;
  width: 439px;
  height: 440px;
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.5);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media (min-width: 320px) and (max-width: 600px) {
  .selection__pic {
    width: 300px;
    height: 333px;
  }
}

.selection__figcaption {
  margin-top: 10px;
}

.selection__texte {
  padding-left: 10px;
}

.selection__nom {
  font-size: 23px;
}

.selection__afficher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.selection__afficher a {
  color: blue;
  text-decoration: underline;
}

.selection img {
  width: 439px;
  height: 331px;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: 1px solid;
}

@media (min-width: 320px) and (max-width: 600px) {
  .selection img {
    width: 300px;
    height: 300px;
  }
}

.footer {
  padding-bottom: 30px;
  background-color: #F3E9F1;
  padding-top: 30px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 320px) and (max-width: 600px) {
  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__list li {
  margin-left: 100px;
}

.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fcfafc;
}

.order__conteneur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #000;
  height: 400px;
  -webkit-box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.5);
}

@media (min-width: 320px) and (max-width: 800px) {
  .order__conteneur {
    width: 300px;
    height: 600px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.order__img img {
  width: 500px;
  height: 400px;
  border-right: 1px solid;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 320px) and (max-width: 800px) {
  .order__img img {
    width: 300px;
    height: 179px;
    border-bottom: 1px solid;
  }
}

.produit {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 250px;
}

@media (min-width: 320px) and (max-width: 800px) {
  .produit {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.produit__title {
  padding-top: 15px;
}

.produit__description {
  padding-top: 20px;
}

.produit__quantité {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.produit__decompte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 8px;
}

.produit__couleur {
  padding-top: 20px;
}

.produit__prix {
  margin-top: 40px;
}

.produit input {
  width: 30px;
}

select {
  margin-left: 5px;
}

.bouton__panier {
  margin-top: 40px;
  margin-bottom: 10px;
  background: -webkit-gradient(linear, left top, right bottom, from(#E58A0B), to(#8F5BFE));
  background: linear-gradient(to bottom right, #E58A0B, #8F5BFE);
  border-radius: 50px;
  height: 50px;
  width: 150px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #FFFF;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.5);
}

.panier__validé {
  color: black;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: 20px;
  margin-bottom: 10px;
  border: solid 1px;
  background: #008000b8;
  width: 250px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resume {
  padding-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.resume__achat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 50px;
  border: 1px solid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  height: 100px;
  width: 800px;
  -webkit-box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.5);
}

@media (min-width: 320px) and (max-width: 800px) {
  .resume__achat {
    width: 300px;
    height: 140px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.resume__titre {
  margin-bottom: 10px;
  margin-top: 10px;
}

.resume__quantite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.resume__couleur {
  margin-bottom: 10px;
}

.resume__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
}

.resume__cartouche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 700px;
  margin-bottom: 30px;
}

.resume__cartouche p {
  font-size: 20px;
}

@media (min-width: 320px) and (max-width: 800px) {
  .resume__cartouche p {
    margin-bottom: 30px;
  }
}

@media (min-width: 320px) and (max-width: 800px) {
  .resume__cartouche {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 300px;
  }
}

.resume .supprimer__panier {
  background: #BE7579;
  color: #FFFF;
  height: 50px;
  width: 150px;
  cursor: pointer;
}

.formulaire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}

.formulaire__title {
  margin-bottom: 30px;
}

.formulaire__complet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.formulaire__cartouche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 15px;
  font-size: 15px;
}

.formulaire input {
  margin-left: 10px;
}

.commander {
  margin-top: 20px;
  background: -webkit-gradient(linear, left top, right bottom, from(#E58A0B), to(#8F5BFE));
  background: linear-gradient(to bottom right, #E58A0B, #8F5BFE);
  border-radius: 50px;
  height: 60px;
  width: 280px;
  cursor: pointer;
  color: white;
}

.conf-main {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.confirmation {
  margin-left: 10px;
}

.confirmation__titre {
  margin-bottom: 20px;
}

.confirmation__texte {
  margin-bottom: 20px;
}

.confirmation__num {
  margin-bottom: 20px;
}
/*# sourceMappingURL=style.css.map */