$background-color: #F3E9F1;


body, nav, ul, p, h2, h3, h1, figure
{
	margin: 0;
	padding: 0;
    font-family: 'Song Myung', serif;
    list-style: none;
}

a
{
	text-decoration: none;
	color: #000;
    font-size: 20px;
}

.bloc-page
{
    width: 100%;
    margin: auto;
}

.header
{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: $background-color;
    &__logotitle {
        display: flex;
        img {
            width: 150px;
            margin-right: 20px;
        }
        h1 {
            align-self: center;
        }
    }
    &__list {
        text-decoration: none;
	    list-style-type: none;
        display: flex;
        margin-top: 25px;
    }
    &__link {
        padding-left: 20px;
    }
}

.conteneur
{
    padding-top: 50px;
    background-color: lighten($background-color, 5);
    &__title {
    margin-bottom: 20px;
    padding-left: 20px;
    }
}

.selection
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__pic {
        margin: 20px;
        width: 410px;
        height: 440px;
        border: 1px solid #000;
        display: flex;
        justify-content: center;
        box-shadow: 3px 3px 12px rgba(0,0,0,.5);
        flex-flow: column;
    }
    &__figcaption {
        padding-bottom: 50px;
        margin-top: 10px;
        margin-left: 10px;
    }
    &__texte {
        padding-bottom: 20px;
    }
    &__nom {
        font-size: 23px;
    }
    &__afficher {
        display: flex;
        justify-content: center;
        a {
            color: blue;
            text-decoration: underline;
        }
    }
    img {
        width: 410px;
        height: 288px;
        object-fit: cover;
    }
}

.footer
{
    padding-bottom: 30px;
    background-color: #F3E9F1;
    padding-top: 30px;
    &__list {
        display: flex;
        justify-content: center;
        li {
            margin-left: 100px;
        }
    }
}