@charset "UTF-8";
body, nav, ul, p, h2, h3, h1, figure {
  margin: 0;
  padding: 0;
  font-family: 'Song Myung', serif;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}

.bloc-page {
  width: 100%;
  margin: auto;
}

main {
  background-color: #fcfafc;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  background-color: #F3E9F1;
}

.header__logotitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logotitle img {
  width: 150px;
  margin-right: 20px;
}

.header__logotitle h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header__list {
  text-decoration: none;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

.header__link {
  padding-left: 20px;
}

.conteneur {
  padding-top: 50px;
}

.conteneur__title {
  margin-bottom: 20px;
  padding-left: 20px;
}

.conteneur__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #000;
}

.conteneur img {
  width: 500px;
}

.selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.selection__pic {
  margin: 20px;
  width: 439px;
  height: 440px;
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.5);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.selection__figcaption {
  margin-top: 10px;
}

.selection__texte {
  padding-left: 10px;
}

.selection__nom {
  font-size: 23px;
}

.selection__afficher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.selection__afficher a {
  color: blue;
  text-decoration: underline;
}

.selection img {
  width: 439px;
  height: 331px;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: 1px solid;
}

.footer {
  padding-bottom: 30px;
  background-color: #F3E9F1;
  padding-top: 30px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__list li {
  margin-left: 100px;
}

.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fcfafc;
}

.order__conteneur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #000;
  height: 400px;
  -webkit-box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.5);
}

.order__img img {
  width: 500px;
  height: 400px;
  border-right: 1px solid;
  -o-object-fit: cover;
     object-fit: cover;
}

.produit {
  margin-left: 10px;
}

.produit__title {
  padding-top: 15px;
}

.produit__description {
  padding-top: 20px;
}

.produit__quantité {
  padding-top: 50px;
}

.produit__couleur {
  padding-top: 20px;
}

.produit__prix {
  margin-top: 40px;
}

.bouton__panier {
  margin-top: 50px;
}

.resume {
  padding-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.resume__achat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 30px;
  border: 1px solid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  height: 100px;
  width: 800px;
  -webkit-box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.5);
}

.resume__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.formulaire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}

.formulaire__cartouche {
  margin-bottom: 15px;
}

.commander {
  margin-top: 20px;
}

.conf-main {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */