$background-color: #F3E9F1;
$primary-color: #E58A0B;
$secondary-color: #8F5BFE;
$button-color: linear-gradient(to bottom right, $primary-color, $secondary-color);




body, nav, ul, p, h2, h3, h1, figure
{
	margin: 0;
	padding: 0;
    font-family: 'Song Myung', serif;
    list-style: none;
}

a
{
	text-decoration: none;
	color: #000;
    font-size: 20px;
}

.bloc-page
{
    width: 100%;
    margin: auto;
}

main {
    background-color: lighten($background-color, 5);
}

.plus {
    display: flex;
    border: 1px solid;
    justify-content: center;
    width: 25px;
    align-items: center;
    padding-right: 7px;
    height: 20px;
}

.moins {
    display: flex;
    border: 1px solid;
    justify-content: center;
    width: 25px;
    height: 20px;
    align-items: center;
}

.header
{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: $background-color;
    flex-wrap: wrap;
    align-items: center;
    &__logotitle {
        display: flex;
        img {
            width: 150px;
            margin-right: 20px;
            height: 70px;
            @media(min-width: 320px) and (max-width: 600px) {
                width: 100px;
                height: 50px;
            }
        }
        h1 {
            align-self: center;
            @media(min-width: 320px) and (max-width: 600px) {
                font-size: 20px;
            }
        }
    }
    &__nav {
        @media(min-width: 320px) and (max-width: 1000px) {
            width: 100%;
        }
    }
    &__list {
        text-decoration: none;
	    list-style-type: none;
        display: flex;
        margin-top: 25px;
        @media(min-width: 320px) and (max-width: 1000px) {
            justify-content: space-around;
        }
        a {
            @media(min-width: 320px) and (max-width: 600px) {
                font-size: 16px;
            }
        }
    }
    &__link {
        padding-left: 20px;
        i {
            margin-right: 5px;
        }
    }
}

.conteneur
{
    padding-top: 50px;
    @media(min-width: 320px) and (max-width: 600px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__div {
    margin-bottom: 20px;
    padding-left: 20px;
    }
    img {
        width: 500px;
    }
}

.selection
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__pic {
        margin: 20px;
        width: 439px;
        height: 440px;
        border: 1px solid #000;
        display: flex;
        justify-content: center;
        box-shadow: 3px 3px 12px rgba(0,0,0,.5);
        flex-flow: column;
        @media(min-width: 320px) and (max-width: 600px) {
            width: 300px;
            height: 333px;
        }
        
    }
    &__figcaption {
        margin-top: 10px;
    }
    &__texte {
        padding-left: 10px;
    }
    &__nom {
        font-size: 23px;
    }
    &__afficher {
        display: flex;
        justify-content: center;
        height: 50px;
        align-items: center;
        a {
            color: blue;
            text-decoration: underline;
        }
    }
    img {
        width: 439px;
        height: 331px;
        object-fit: cover;
        border-bottom: 1px solid;
        @media(min-width: 320px) and (max-width: 600px) {
            width: 300px;
            height: 300px;
        }
    }
}

.footer
{
    padding-bottom: 30px;
    background-color: #F3E9F1;
    padding-top: 30px;
    &__list {
        display: flex;
        justify-content: center;
        @media(min-width: 320px) and (max-width: 600px) {
            flex-direction: column;
        }
        li {
            margin-left: 100px;
        }
    }
}

.order {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: lighten($background-color, 5);
    &__conteneur {
        display: flex;
        justify-content: center;
        border: 1px solid #000;
        height: 400px;
        box-shadow: 3px 3px 12px rgba(0,0,0,.5);
        @media(min-width: 320px) and (max-width: 800px) {
            width: 300px;
            height: 600px;
            flex-direction: column;
        }
        
    }
    &__img {
        img {
            width: 500px;
            height: 400px;
            border-right: 1px solid;
            object-fit: cover;
            @media(min-width: 320px) and (max-width: 800px) {
                width: 300px;
                height: 179px;
                border-bottom: 1px solid;
            }
        }
    }
}

.produit {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    width: 250px;
    @media(min-width: 320px) and (max-width: 800px) {
        align-items: center;
        width: 100%;
    }
    &__title {
        padding-top: 15px;
    }
    &__description {
        padding-top: 20px;
    }
    &__quantité {
        padding-top: 50px;
        display: flex;
    }

    &__decompte {
        display: flex;
        margin-left: 8px;
    }
    &__couleur {
        padding-top: 20px;
    }
    
    &__prix {
        margin-top: 40px;
    }
    input {
        width: 30px;
    }
}
select {
    margin-left: 5px;
}

.bouton__panier {
    margin-top: 40px;
    margin-bottom: 10px;
    background: $button-color;
    border-radius: 50px;
    height: 50px;
    width: 150px;
    align-self: center;
    color: #FFFF;
    cursor: pointer;
    box-shadow: 1px 1px 12px rgba(0,0,0,.5);
}

.resume {
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    &__achat {
        display: flex;
        justify-content: space-around;
        margin-bottom: 50px;
        border: 1px solid;
        align-items: center;
        border-radius: 50px;
        height: 100px;
        width: 800px;
        box-shadow: 3px 3px 12px rgba(0,0,0,.5);
        @media(min-width: 320px) and (max-width: 800px) {
            width: 300px;
            height: 140px;
            flex-direction: column;
        }
    }
    &__titre {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    &__quantite {
        display: flex;
        margin-bottom: 10px;
    }
    &__couleur {
        margin-bottom: 10px;
    }
    &__total {
        display: flex;
        justify-content: center;
        font-size: 25px;
    }
    &__cartouche {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 700px;
        margin-bottom: 30px;
        p {
            font-size: 20px;
            @media(min-width: 320px) and (max-width: 800px) {
                margin-bottom: 30px;
            }
        }
        @media(min-width: 320px) and (max-width: 800px) {
            flex-direction: column;
        }
    }
    .supprimer__panier {
        background: #BE7579;
        color: #FFFF;
        height: 50px;
        width: 150px;
        cursor: pointer;
    }
}

.formulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    &__title {
        margin-bottom: 30px;
    }
    &__complet {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__cartouche {
        display: flex;
        justify-content: space-around;
        margin-bottom: 15px;
        font-size: 15px;
    }
    input {
        margin-left: 10px;
    }
}

.commander {
    margin-top: 20px;
    background: $button-color;
    border-radius: 50px;
    height: 60px;
    width: 280px;
    cursor: pointer;
    color: white;
}

.conf-main {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirmation {
    margin-left: 10px;
    &__titre {
        margin-bottom: 20px;
    }
    &__texte {
        margin-bottom: 20px;
    }
    &__num {
        margin-bottom: 20px;
    }
}